#Contents of .htaccess

RewriteEngine on
RewriteCond %{HTTP_REFERER} !^http://schirrel.github.io/webtest/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://schirrel.github.io/webtest/.*$ [NC]
RewriteRule .(mp4|mp3|avi)$ - [F]